.item {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin: 1rem;
       min-width: 80%;
       border-bottom: 1px rgba(0, 0, 0, 0.075) solid;
}

.item h3 {
       margin: 0 0 0.25rem 0;
}

.price {
       font-weight: bolder;
       color: rgb(206, 135, 3);
       margin-top: 0.25rem;
       font-size: 1.3rem;
}